{% extends 'base.html' %}

{% block title%}
    Все пользователи
{% endblock %}

{% block content%}
    <p style = "font-size: 66px; text-align: center;">Все пользователи</p>
        {% if user.is_authenticated %}
            <p style = "font-size: 34px; text-align: center; ">Вы вошли как <a href = "{% url 'frontend:user' user.username %}">{{user.username}}</a></p>
        {% else%}
            <a href = "{% url 'frontend:login_page' %}" style = "font-size: 44px; text-align: center; padding-left: 30%;" >Войти</a>
            <a href = "{% url 'frontend:registration' %}" style = "font-size: 44px; text-align: center; padding-left: 5%;">Зарегистрироваться</a>
        {% endif %}
    <div style="font-size: 22px; padding-left: 40%;">
        {% if users %}
            {% for user2 in users %}
                <a href = "{% url 'frontend:user' user2.username %}">
                    {% if user.username == user2.username %}
                        <h2 style="color: green">{{user2.username}}</h2>
                    {% else %}
                        <h2>{{user2.username}}</h2>
                    {% endif %}
                </a>
            {% endfor %}
        {% else %}
            <h2>Нет пользователей</h2>
        {% endif %}
    </div>
{% endblock %}