{% extends 'base.html' %}
{% block title %}
    Лента услуг
{% endblock %}

{% block content %}

    {% if services %}
    
        {% for s in services %}
            <hr>
            <h2> <a href = "{% url 'frontend:user' s.customer.username %}" >Автор: {{s.customer.username}}</a></h2>
            <h2>Адрес: {{s.customer.profile.address}} </h2>
            <h3> Тип запроса: {{s.serivice_type}} </h3>
            <h4> Комментарий к заявке: {{s.comment}}</h4>
            <h5> Дата создания: {{p.pub_date}}</h5>
            <hr>
        {% endfor %}

    {% else %}
        <h1>Заявок нет</h1>
    {% endif %}

{% endblock %}