{% extends 'base.html' %}

{% block title %}
    {{post.post_title}}
{% endblock %}

{% block content %}

    <h1>Комментарии к посту: <a href = "{% url 'lenta:view_post' post.id %}">{{post.post_title}}</a></h1>

    {% if comments%}

        {% for c in comments %}
            <hr>
            <h4>Автор: <a href = "{% url 'frontend:user' c.comment_author.username %}">{{c.comment_author.username}}</a></h4>
            <h5>Текст: {{c.comment_text}} </h5>
            <h5>Дата создания комментария: {{c.pub_date}}</h5>
            <hr>
        {% endfor %}

    {% else %}
        <h4>Без комментариев</h4>
    {% endif %}

{% endblock %}